name: QA CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run smoke tests
        run: |
          echo "Running smoke tests"

  regression-tests:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run regression tests
        run: |
          echo "Running regression tests"
